body {
    background: #000000;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#container {
    margin: 0 auto;
    width: 1020px;
}

#canvas {
    background: #000000;
    padding: 0px;
    border: 1px solid #444a54;
    margin-bottom: 12px;
    float: left;
}

#editor {
    background: #000000;
    padding: 0px;
    border: 1px solid #444a54;
    border-left: none;
}

#editor.focus {
    background: #22252a;
    outline: none;
}

